* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    color: red;
}

.tubulacao {
    margin: 40px 0 0 25px;
}

.tubulacao img {
    width: 150px;
}

.item1 {
    margin-top: 2px;
    display: flex;
    width: 150px;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    color: white;
    width: 150px
}

.reparos {
    margin: 40px 0 0 25px;
    display: flex;
    flex-direction: column;
    left: 300px;
    position: absolute;
    top: 43px;
    width: 150px;
    height: 150px;
}

.item2 {
    margin-top: 2px;
    display: flex;
    width: 150px;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    color: white;
    width: 150px;
}

.reparos1 {
    margin: 40px 0 0 25px;
    display: flex;
    flex-direction: column;
    left: 300px;
    position: absolute;
    top: 219px;
    width: 150px;
    height: 100px;
}

.reparos2 {
    margin: 40px 0 0 25px;
    display: flex;
    flex-direction: column;
    left: 300px;
    position: absolute;
    top: 396px;
    width: 150px;
    height: 100px;
}

.reparos3 {
    margin: 40px 0 0 25px;
    display: flex;
    flex-direction: column;
    left: 600px;
    position: absolute;
    top: 43px;
    width: 250px;
    height: 200px;
}

.reparos4 {
    margin: 40px 0 0 25px;
    display: flex;
    flex-direction: column;
    left: 600px;
    position: absolute;
    top: 330px;
    width: 250px;
    height: 200px;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.pagamentos {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 90px;
}

.pagamentos1 {
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 140px;
    top: 200px;
}

@media (max-width:900px) {
    .tubulacao {
        margin: 36px 0 0 26px;
    }

    .reparos {
        left: 187px;
        width: 154px;
    }

    .reparos1 {
        left: 187px;
        width: 154px;
    }

    .reparos2 {
        left: 187px;
        width: 154px;
    }

    .reparos3 {
        left: 0px;
        top: 577px;
        width: 154px;
    }

    .reparos4 {
        left: 187px;
        top: 577px;
        width: 154px;
    }

    .pagamentos {
        left: 20px;
        top: 779px;
        width: 154px;
    }

    .pagamentos1 {
        left: 210px;
        top: 779px;
        width: 154px;
    }
}